{% extends 'chennai/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Chennai Leave Form
{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
    <script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
    <script>
        $('.basicAutoComplete').autoComplete(
            {minLength: 1}
        );
        $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})

    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <h2>Chennai Leave Form</h2>
        <form method="post">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% if field.name == "from_email" %}
                            {% render_field field class="basicAutoComplete form-control" %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}


            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
{% endblock %}